<!-- Section: About -->
<section id="about" class="section section-contact scrollspy">
  <div class="container">
    <div class="card-panel teal white-text">
      <h4>About Me</h4>
    </div>
    <div class="row">
      <div class="col s12 m6">
        <div class="card-panel grey lighten-3">
          <img src="assets/img/Samnang.jpg" alt="" class="materialboxed responsive-img">
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card-panel grey lighten-3">
          <b>Dear all friend want to visit Sen Monorom,</b>
          <p>I am SAM NANG I has been here for  18 years and I knows the area well. I loves the setting here that is very different from the rest of Cambodia. It has beautiful hills and a much cooler climate. There are numerous scenic waterfalls here spread throughout the forests. i has been worked as a guide for the World Wildlife Foundation(WWF) which sent me to Indonesia to learn about developing an Eco tourism network.</p>
          <p>I am lived in the forest for three years among the Punong people and speaks their language. I am  worked for three years in an NGO orphanage. The hospitality industry has employed me for over ten years in this area. I have  restaurant has been operating for nine years and last year i am  opened the guesthouse.</p>
          <p>Sen Monorom, the capital of Mondolkiri, is surrounded by some protected forests which are home to rare monkeys, birds, elephants and numerous other mammals. Seeing the sea of trees from hilltops and experiencing some of the most spectacular sunsets in the world invigorates the body and mind. You become one with the spectacularly multi lighted clouds in peace and quiet.</p>
          <p>Tourism has increased about thirty percent here.</p>
          <p>So I decided to start a tour company to allow others to share this and to provide jobs and income to the Phnong minority that live here. Tourists will be able to learn of Phnong culture and heritage and help them develop more sustainable ways of living in the forest. Thus the concept of Ecotourism came so that tourists could come and view the land and people here in a way that would help preserve and improve the environment and provide employment for people living in Mondolkiri.</p>
        </div>
      </div>
    </div>
  </div>
</section>
