<!-- Section: About -->
<section id="about" class="section section-contact scrollspy">
  <div class="container about">

    <h2 class="center custom-header">About Us</h2>
    <!-- <h3 class="center subheader">OUR TEAM</h3> -->

    <!-- Sam & Torn -->
    <div class="row">
      <div class="col s12 m6">
        <div class="inline">
          <img src="assets/img/sam.jpg">
          <p class="subheader center">SAM</p>
        </div>
        <p>{{site.data.about.sam}}</p>
      </div>
      <div class="col s12 m6">
        <div class="inline">
          <img src="assets/img/torn.jpg">
          <p class="subheader center">TORN</p>
        </div>
        <p>{{site.data.about.torn}}</p>
      </div>
    </div>

    <!-- Staff & Mahouts -->
    <div class="row about">
      <div class="col s12 m6">
        <div class="inline">
          <img src="assets/img/staff.jpg">
          <p class="subheader center">STAFF</p>
        </div>
        <p>{{site.data.about.staff}}</p>
      </div>
      <div class="col s12 m6">
        <div class="inline">
          <img src="assets/img/mahouts.jpg">
          <p class="subheader center">MAHOUTS</p>
        </div>
        <p>{{site.data.about.mahouts}}</p>
      </div>
    </div>

    <!-- Elephants -->
    <h3 class="center subheader">Our Elephants</h3>
    <div class="row">
      <div class="col s12 m4 center">
        <img src="assets/img/el-hl.jpg" alt="" class="responsive-img">
        <h4 class="custom-title text-primary">HAPPY-LUCKY</h4>
        <div class="subtitle grey-text">53 y.o - 5 tons</div>
        <p>{{site.data.about.happy-lucky}}</p>
      </div>

      <div class="col s12 m4 center">
        <img src="assets/img/el-gb.jpg" alt="" class="responsive-img">
        <h4 class="custom-title text-primary">G'BEN</h4>
        <div class="subtitle grey-text">38 y.o - 3.5 tons</div>
        <p>{{site.data.about.g-ben}}</p>
      </div>

      <div class="col s12 m4 center">
        <img src="assets/img/el-mr.jpg" alt="" class="responsive-img">
        <h4 class="custom-title text-primary">MR. PON</h4>
        <div class="subtitle grey-text">46 y.o - 5 tons</div>
        <p>{{site.data.about.mr-pon}}</p>
      </div>
    </div>

    <div class="bunong mt-lg">
      <!-- <img src="assets/img/bunong.jpg" alt="" class="responsive-img"> -->

      <!-- The Bunong Community -->
      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header bg-primary">
            <h3 class="center subheader white-text">The Bunong Community</h3>
            <img src="assets/img/icons/icon-down.png" alt="" class="icon">
          </div>
          <div class="collapsible-body">
            {% for point in site.data.about.bunong %}
            <h4 class="custom-title mt-md">{{ point.title }}</h4>
            <p>{{ point.text }}</p>
            {% endfor %}
          </div>
        </li>
      </ul>
     
      <!-- Our Project -->
      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header bg-primary">
            <img src="assets/img/icons/icon-down.png" alt="" class="icon">
            <h3 class="center subheader white-text">Our Project</h3>
            <img src="assets/img/icons/icon-down.png" alt="" class="icon">
          </div>
          <div class="collapsible-body">
            {% for point in site.data.about.project %}
            <h4 class="custom-title mt-md">{{ point.title }}</h4>
            <p>{{ point.text }}</p>
            {% endfor %}
          </div>
        </li>
      </ul>

    </div>
  </div>
</section>