<!-- Section: About -->
<span id="about"></span>
<section class="section section-contact scrollspy mt-lg">
  <div class="container about">

    <h2 class="center custom-header">About Us</h2>

    <!-- Sam & Torn -->
    <div class="row about">
      <div class="col s12 l6">
        <div class="inline">
          <img src="assets/img/sam.jpg">
          <h4 class="subheader center">SAM</h4>
        </div>
        <p>{{site.data.about.sam}}</p>
      </div>
      <div class="col s12 l6">
        <div class="inline">
          <img src="assets/img/torn.jpg">
          <h4 class="subheader center">TORN</h4>
        </div>
        <p>{{site.data.about.torn}}</p>
      </div>
    </div>

    <!-- Staff & Mahouts -->
    <!-- <div class="row about">
      <div class="col s12 l6">
        <div class="inline">
          <img src="assets/img/staff.jpg">
          <h4 class="subheader center">STAFF</h4>
        </div>
        <p>{{site.data.about.staff}}</p>
      </div>
      <div class="col s12 l6">
        <div class="inline">
          <img src="assets/img/mahouts.jpg">
          <h4 class="subheader center">MAHOUTS</h4>
        </div>
        <p>{{site.data.about.mahouts}}</p>
      </div>
    </div> -->

    <!-- Elephants -->
    <h3 class="center subheader">Our Elephants</h3>
    <div class="row mobile-scrollable-row">
      <div class="col l4 center">
        <img src="assets/img/el-hl.jpg" alt="" class="responsive-img">
        <h4 class="custom-title text-primary">HAPPY-LUCKY</h4>
        <div class="subtitle grey-text text-darken-1">53 y.o - 5 tons</div>
        <p>{{site.data.about.happy-lucky}}</p>
      </div>

      <div class="col l4 center">
        <img src="assets/img/el-gb.jpg" alt="" class="responsive-img">
        <h4 class="custom-title text-primary">G'BEN</h4>
        <div class="subtitle grey-text text-darken-1">38 y.o - 3.5 tons</div>
        <p>{{site.data.about.g-ben}}</p>
      </div>

      <div class="col l4 center">
        <img src="assets/img/el-mr.jpg" alt="" class="responsive-img">
        <h4 class="custom-title text-primary">MR. PON</h4>
        <div class="subtitle grey-text text-darken-1">46 y.o - 5 tons</div>
        <p>{{site.data.about.mr-pon}}</p>
      </div>
    </div>

    <div class="bunong mt-lg">

      <!-- The Bunong Community -->
      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header bg-primary">
            <h3 class="center subheader white-text">The Bunong Community</h3>
            <img src="assets/img/icons/icon-down.png" alt="" class="icon">
          </div>
          <div class="collapsible-body">
            {% for point in site.data.about.bunong %}
            <h4 class="custom-title mt-md">{{ point.title }}</h4>
            <p>{{ point.text }}</p>
            {% endfor %}
            <img src="assets/img/bunong-21.jpg" alt="" class="responsive-img">
          </div>
        </li>
      </ul>

      <!-- Our Project -->
      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header bg-primary">
            <h3 class="center subheader white-text">Our Project</h3>
            <img src="assets/img/icons/icon-down.png" alt="" class="icon">
          </div>
          <div class="collapsible-body">
            {% for point in site.data.about.project %}
            <h4 class="custom-title mt-md">{{ point.title }}</h4>
            <p>{{ point.text }}</p>
            {% endfor %}
            <img src="assets/img/cover-4-21.jpg" alt="" class="responsive-img">
          </div>
        </li>
      </ul>

      <!-- Money Goes -->
      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header bg-primary">
            <h3 class="center subheader white-text">Where does the Money Go?</h3>
            <img src="assets/img/icons/icon-down.png" alt="" class="icon">
          </div>
          <div class="collapsible-body center">
            <img src="assets/img/diagram.png" alt="" class="responsive-img diagram">
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>