<!-- Section: Icon Boxes -->
<section id="boxes" class="section section-icons grey lighten-4 center">
  <div class="container">
    <div class="row">
      {% for box in site.data.boxes %}
      <div class="col s12 m4">
        <a href="tours">
          <div class="card-panel">
            <i class="material-icons large teal-text">{{ box.icon }}</i>
            <h4>{{ box.title }}</h4>
            <p>{{ box.details }}</p>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
