<!-- Section: Community -->
<!-- <section id="community" class="section section-contact scrollspy">
  <div class="container">
    <div class="card-panel teal white-text">
      <h4>SUPPORTING THE BUNONG TRADITIONNAL COMMUNITY</h4>
    </div>
    <div class="col s12 m6">
      <div class="card-panel grey lighten-3">
        {{ site.data.community.details | markdownify }}
      </div>
    </div>
  </div>
</section>
 -->

<section id="community" class="section section-community scrollspy grey lighten-3">
  <div class="container">
    <div class="row">
        <div class="col s12">
          <div class="card-panel teal white-text">
            <h4>SUPPORTING THE BUNONG TRADITIONNAL COMMUNITY</h4>
          </div>
          <ul class="collapsible" data-collapsible="accordion">
            {% for comm in site.data.community %}
            <li>
              <div class="collapsible-header"><h5><i class="material-icons teal-text">{{ comm.icon }}</i>{{ comm.title }}</h5></div>
              <div class="collapsible-body">{{ comm.details | markdownify }}</div>
            </li>
            {% endfor %}
          </ul>
        </div>
    </div>
  </div>
</section>
