<!-- Section: Community -->
<section id="community" class="section section-contact scrollspy">
  <div class="container">
    <div class="card-panel teal white-text">
      <h4>Community</h4>
    </div>
    <div class="col s12 m6">
      <div class="card-panel grey lighten-3">
        <p>In Mondolkiri we have the World Wildlife Fund which provides home stays with Phonong people. This group also hires forest rangers and porters as well as cooks who prepare food for visitors. Conservation  money from tourists goes right into the community for education, health care and local project development such as lakes, cows, toilets, wells and forest ranger support. Sam Nang has developed another project with the Siema Protection Forest and the local community of Andong Kraloeng to help manage their land and forest for sustainability and to provide jobs and community development and forest protection.</p>
        <hr>
        <h4>SEIMA Protected forest</h4>
        <b>BLACK-SHANKED DOUC RESERVE</b>
        <p>The SEIMSA Protection forest (SPF) cover almost 3000 km2 of forest in two eco-regions, the Eastern plains and Southern Annamite  Mountains. The mosaic of forest types provides habitat for a rich biodiversity of mammals and birds. The star of this adventure is the Black-shaned Douc. Seima is the home to  a globally significant population of this handsome monkey, which can be seen on most visit. Over 300 species  of birds have been recorded in SPF and visitors have a good chance of seeing the spectacular  Great Hornbill and Green peafow. There are over 20 species of woodpecker including the Great Slaty now the largest in the world.</p>
        <b>TREKKING IN SPF HIGHLANDS</b>
        <p>A network of trails has been mapped out from the Forestry Administration base at O RIENG 20km West of senmonorom. Day trip to forest waterfalls can be suited to most levels of ability. The overnight and  3 days treks require at least a basic level of fitness.</p>
        <p>Together with English speaking guide from the GREEN HOUSE in Senmonomorom, You will meet up with Bnong community member at the trail heads, who are familiar with all the routes into forest.</p>
        <p>Walking is easy in the dry season from November to April though the waterfalls are at their most spectacular during the rains. The falls have great swimming pools at the base of the falls (check with your guide as some are considered sacred by the Bnong) and are a superb lunch stop or camping site.</p>
        <p>The guide will carry food and Green house can Provide the hammocks with built in mosquito nets for overnight treks.</p>
        <p>They will also have base fist aid kit though it is recommended that visitor take their own. Water for day trips (recommended minimum 3 liters)will need to be carried on longer trips the guide will boil river water. Water purification tablets or iodine drops will make the easier.</p>
        <p>It is not yet possible for local tour operators to carry insurance for their clients so it is essential you have your own.</p>
        <b>RESPONSIBLE TOURISM</b>
        <p>The unique biodiversity of SPF is a key conservation focus of the forestry Administration in partnership with wildlife Conservation society. Responsible tourism in SPF is a project developed by Sam Veasna center with these two partners to offer the local community of Andong Kraloeng an income from tourism base on agreement to manage their land and forest sustainably. Part of the cost of the trip, $15 person will be contributed to village development projects as requested by the village and monitored by FA / WCS.</p>
        <p> The Green house local tour operator in senmonorom  was selected to manage treks to restricted areas of the SPF because of the their support for its conservation.</p>
        <p>Green House can arrange transport and hotel accommodation in Senmonorom and will sort out all logistics for trekking.</p>
      </div>
    </div>
  </div>
</section>

