<!-- Section: Community -->
<section id="community" class="section section-contact scrollspy">
  <div class="container">
    <div class="card-panel teal white-text">
      <h4>Community</h4>
    </div>
    <div class="col s12 m6">
      <div class="card-panel grey lighten-3">
        <p>In Mondolkiri we have the World Wildlife Fund which provides home stays with    Phonong people. This group also hires forest rangers and porters as well as cooks who prepare food for visitors. Conservation  money from tourists goes right into the community for education, health care and local project development such as lakes, cows, toilets, wells and forest ranger support. Sam Nang has developed another project with the Siema Protection Forest and the local community of Andong Kraloeng to help manage their land and forest for sustainability and to provide jobs and community development and forest protection.</p>
      </div>
    </div>
  </div>
</section>
