<!-- Section: Contact -->
<section id="contact" class="section section-contact scrollspy">
  <div class="container">
    <div class="row">
      <div class="col s12 m6">
        <div class="card-panel teal white-text center">
          <i class="material-icons">phone</i>
          <h5>Call Us For Booking</h5>
          <p> Phone # {{ site.phone-1 }}</p>
          <p> Phone # {{ site.phone-2 }}</p>
        </div>
        <ul class="collection with-header">
          <li class="collection-header">
            <h5>Location</h5>
            <p> {{ site.address-2 }}</p>
            <p> {{ site.address-3 }}</p>
          </li>
        </ul>
      </div>
      <div class="col s12 m6">
        <div class="card-panel grey lighten-3">
          <div class="center">
            <i class="material-icons">email</i>
          </div>
          <h5>Please send details of what you like to do</h5>
          <form onsubmit="sendGreenhouse(event)">
            <div class="input-field">
              <input type="text" placeholder="Name" required />
            </div>
            <div class="input-field">
              <input type="email" placeholder="Email" required />
            </div>
            <div class="input-field">
              <textarea class="materialize-textarea" placeholder="Enter Message"></textarea>
            </div>
            <div id="alert-field" class="alert hidden">
              <p>Uh oh! Something went wrong!</p>
            </div>
            <input type="submit" value="Submit" class="btn">
            <div id="alert-field" class="alert hidden">
              <p>Uh oh! Something went wrong!</p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
