<!-- Section: Contact -->
<span id="contact"></span>
<section class="section section-contact scrollspy">
  <div class="container">
    <div class="row">
      <h2 class="center custom-header">Contact & Booking</h2>
      <div class="col s12 l6">

        <!-- Phone & Email -->
        <div class="contact-info box">
          <span>
            <img src="assets/img/icons/icon-phone-500.png" alt="" class="icon">
            {{ site.data.contact.phone }}
          </span>
          <span>
            <img src="assets/img/icons/icon-whatsapp-500.png" alt="" class="icon">
            {{ site.data.contact.whatsapp }}
          </span>
          <span>
            <img src="assets/img/icons/icon-email-500.png" alt="" class="icon">
            {{ site.data.contact.email }}
          </span>
          <span>
            <img src="assets/img/icons/icon-location-500.png" alt="" class="icon">
            {{ site.data.contact.location }}
          </span>
        </div>
      </div>

      <div class="col s12 l6">
        <div class="contact-info box">
          <span>
            <img src="assets/img/icons/icon-message-500.png" alt="" class="icon">
            SEND US A MESSAGE
          </span>

          <form id="formID" onsubmit="postElephant(event)" class="contact-form">
            <div class="name-email">
              <div class="input-field width-48">
                <input type="text" name="entry.191027166" id="fullname" required />
                <label for="fullname">Name</label>
              </div>
              <div class="input-field width-48">
                <input type="email" name="entry.461087619" id="email" autocomplete="on" required />
                <label for="email">Email</label>
              </div>
            </div>
            <div class="input-field">
              <textarea class="materialize-textarea white-text" name="entry.385723957" id="message"></textarea>
              <label for="message">Your Message</label>
            </div>
            <div style="text-align-last: end;">
              <button id="sendButton" class="btn btn-white" type="submit" name="action">SEND ➤
              </button>
            </div>
            <div id="alert-field" class="alert hidden">
              <p>Uh oh! Something went wrong!</p>
            </div>
          </form>

        </div>
      </div>

    </div>
  </div>
</section>