<!-- Section: Games -->
<section id="games" class="section scrollspy">
  <div class="card-panel teal white-text">
    <h4 class="center">
      <span>Play some games in your liesure time . . .</span>
    </h4>
  </div>
  <div class="container">
      <div class="row">
      {% for game in site.data.games %}
        <div class="col s12 m3">
          <a href="games/{{ game.link }}">
            <img src="assets/img/games/{{ game.img }}" alt="" class="responsive-img">
          </a>
        </div>
      {% assign remainder = forloop.index | modulo: 4 %}
      {% if remainder == 0 %}
      </div>
      <div class="row">
      {% endif %}
      {% endfor %}
    </div>
  </div>
</section>

