<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer">
</script>
<!--JavaScript at end of body for optimized loading-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js">
</script>
<script src="/assets/js/float-panel.js"></script>
<script src="/assets/js/jordan.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/glightbox/3.3.0/js/glightbox.min.js" integrity="sha512-RBWI5Qf647bcVhqbEnRoL4KuUT+Liz+oG5jtF+HP05Oa5088M9G0GxG0uoHR9cyq35VbjahcI+Hd1xwY8E1/Kg==" crossorigin="anonymous" referrerpolicy="no-referrer">
</script>

<script type="text/javascript">
  // Begin Initialize Materialize css
  $(document).ready(function(){
    // Sidenav
    $('.sidenav').sidenav();
    // Scrollspy
    $('.scrollspy').scrollSpy();
    // Collapsiable
    $('.collapsible').collapsible();
    // Material Boxed
    $('.materialboxed').materialbox();
    // Slider
    $('.slider').slider({
      indicators: false,
      height: 500,
      transition: 500,
      interval: 4000
    });
    // Datepicker
    const nextDate = new Date();
    nextDate.setDate(nextDate.getDate() + 1)
    $('.datepicker').datepicker({
      autoClose: true,
      defaultDate: nextDate,
      setDefaultDate: true,
    });
    // Autocomplete
    $('input.autocomplete').autocomplete({
      data: {
        "Aruba": null,
        "Cancun Mexico": null,
        "Hawaii": null,
        "Florida": null,
        "California": null,
        "Jamacia": null,
        "Europe": null,
      },
    });
  });
  // End Initialize Materialize css

  // Initialize glightbox
  const lightbox = GLightbox({
    touchNavigation: true,
    loop: true,
    autoplayVideos: true
  });

</script>
