<!-- Section: rooms -->
<span id="tours"></span>
<section class="section scrollspy">
  <div class="container center-align">
    <h2 class="custom-header">Our Tours</h2>

    <div class="mobile-scrollable-row">

      {% for tour in site.data.tours %}

      <!-- create a row around every 3 elements -->
      {% assign remainder = forloop.index | modulo: 3 %}
      {% if remainder == 1 %}
      <div class="row stretch-y">
        {% endif %}

        <div class="col l4">
          <div class="card tour-card" id="tour.code">

            <!-- Card Image -->
            <div class="card-image">
              <a href="#modal{{ forloop.index }}" class="modal-trigger">
                <img src="assets/img/tours/{{ tour.code }}-cover.jpg" alt="" class="responsive-img">
              </a>
            </div>

            <!-- Card Content -->
            <div class="card-content">
              <div class="card-info">
                <span class="card-title subheader">{{ tour.title }}</span>
                <span class="subtitle grey-text">{{ tour.days }}</span>
                <p>{{ tour.short-description }}</p>
                {% unless tour.description == "" %}
                <a href="#modal{{ forloop.index }}" class="btn-flat modal-trigger text-primary">More Information</a>
                {% endunless %}
              </div>
              <div class="card-action space-between">
                <span class="price text-primary">{{ tour.price }}</span>
                <a href="#contact" class="btn">{{ tour.btn-text }}</a>
              </div>
            </div>

            <!-- Modal -->
            {% unless tour.description == "" %}
            <div id="modal{{ forloop.index }}" class="modal center-align">
              <div class="tour-modal">

                <!-- Modal: Images -->
                <div class="row mobile-scrollable-row">
                  {% for i in (1..3) %}
                  <div class="col s6 m4">
                    <a href="assets/img/tours/{{ tour.code }}-{{ i }}.jpg" data-gallery="g1" class="glightbox">
                      <img src="assets/img/tours/{{ tour.code }}-{{ i }}.jpg" alt="" class="responsive-img">
                    </a>
                  </div>
                  {% endfor %}
                </div>

                <!-- Modal: Tour Info -->
                <div class="container">
                  <div class="custom-title uppercase">{{ tour.title }}</div>
                  <span class="subtitle grey-text">{{ tour.days }}</span>
                  <div class="modal-info">
                    <h4>Highlights:</h4>
                    {{ tour.highlights }}
                    <h4>Itinerary:</h4>
                    {{ tour.itinerary }}
                  </div>
                </div>

                <!-- Modal: Price, "Book Now", "Close" -->
                <div class="container space-between">
                  <span class="price text-primary">{{ tour.price }}</span>
                  <a href="#contact" class="btn modal-close">Book Now</a>
                  <a href="#!" class="modal-close btn-flat" style="padding:0;">Close</a>
                </div>
              </div>

            </div>
            {% endunless %}

          </div>
        </div>

        {% if remainder == 0 %}
      </div>
      {% endif %}
      {% endfor %}

    </div>
  </div>
</section>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems);
  });
</script>