<!-- Section: Tours -->
<section id="tours" class="section section-gallery scrollspy grey lighten-4">
  <div class="container">
    <div class="row">
        <div class="col s12 m12 l10 offset-l1">
          <h4 class="center">Pick a tour that suits your adventure appetite!</h4>
          <ul class="collapsible" data-collapsible="accordion">
            {% for tour in site.data.tours %}
            <li>
              <div class="collapsible-header">
                <i class="material-icons" style="padding-right: 2em";>{{ tour.icon }} file_download</i>
                {{ tour.title }}
              </div>
              <div class="collapsible-body">
                <blockquote>{{ tour.detail | markdownify }}</blockquote>
              </div>
            </li>
            {% endfor %}
          </ul>
        </div>
    </div>
  </div>
</section>

