<!-- Section: Tripadvisor -->
<section id="contact" class="section section-contact scrollspy grey lighten-2">
  <div class="container">
    <div id="TA_certificateOfExcellence910" class="TA_certificateOfExcellence">
      <ul id="YIB1k29ew" class="TA_links gKnxYiL">
        <li id="l8QBKS" class="oPeaiAgnd8h9">
          <a target="_blank" href="https://www.tripadvisor.com/Attraction_Review-g1893367-d8467849-Reviews-Elephant_Community_Project_Day_Tours-Sen_Monorom_Mondulkiri_Province.html">
            <img src="https://static.tacdn.com/img2/travelers_choice/widgets/tchotel_2024_L.png" alt="TripAdvisor" class="widCOEImg" id="CDSWIDCOELOGO"/>
          </a>
        </li>
      </ul>
    </div>
    <script async src="https://www.jscache.com/wejs?wtype=certificateOfExcellence&amp;uniq=910&amp;locationId=8467849&amp;lang=en_US&amp;year=2024&amp;display_version=2" data-loadtrk onload="this.loadtrk=true">
    </script>
  </div>
</section>


