html {
  position: relative;
}

body {
  background-color: #cae1b9;
}

.text-primary,
.custom-header,
.custom-title,
.subheader {
  color: #003d26;
}

.btn,
.bg-primary,
.box {
  background-color: #003d26;
}

.btn {
  font-weight: 500;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5px;
}

.btn:hover {
  background-color: #159709;
}

.btn-white {
  background-color: white;
  color: black;
}

.btn-white:hover {
  background-color: #159709;
}


a.text-primary:hover {
  color: black;
}

nav .nav-wrapper {
  width: 100%;
  padding: 0;
}

.custom-nav {
  background-color: #0a4f2bdd;
  height: unset;
  line-height: 60px;
}

.space-between {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

p {
  text-align: justify;
}

.box {
  color: white;
  padding: 20px;
  margin-bottom: 22px;
  border-radius: 10px;
}

.row {
  margin: 0;
}


.price {
  font-size: 20px;
  font-weight: 500;
  align-content: center;
}

img:not(.icon) {
  width: 100%;
  border-radius: 10px;
}

img.rectangular {
  border-radius: 0;
}

.card {
  border-radius: 11px;
  border: #00000044 solid 1px;
}

.card .card-image img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.card .card-action {
  background-color: transparent;
}

.card .card-content {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.card .card-content p {
  margin: 12px 0;
}

.card .card-content .card-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
}


.tour-card .card-content {
  padding: 0;
}

.tour-card .card-info {
  padding: 10px 24px;
}


.tour-modal {
  padding: 20px;
}

.tour-modal:not(:first-child) {
  margin: 20px 0 0 0;
  padding-top: 20px;
  border-top: #0d6738 2px solid;
}

.tour-modal:last-child {
  margin-bottom: 20px;
}


.modal {
  width: 90%;
  max-height: 90vh;
  margin-top: -5vh;
  border-radius: 10px;
}

.modal-footer {
  padding: 10px 20px;
  height: auto;
}

.modal-info {
  text-align: justify;
  margin-bottom: 30px;
}

.modal-info h4 {
  font-size: 1.4rem;
  margin-top: 30px;
}


.review {
  margin: 0 0 22px 0;
}

.review .card-header {
  padding: 20px 20px 0 20px;
}

.review .card-header .custom-title {
  margin: 0;
}


.review .card-content {
  padding: 5px 20px 20px 20px;
  text-align: justify;
}

.review .five-stars {
  width: 100px;
  padding-top: 5px;
}

.collapsible {
  border-radius: 10px;
}

.collapsible .collapsible-header {
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  position: relative;
}

.collapsible .collapsible-header .subheader {
  margin: 0;
  font-weight: 400;
}

.collapsible .collapsible-header .icon {
  position: absolute;
  right: 15px;
  width: 20px;
}


.collapsible .active .collapsible-header {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.collapsible .collapsible-body {
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.about {
  text-align: justify;
}

.about p {
  margin: 0 0 40px 0;
}

.inline {
  margin: 0 20px 0 0;
  float: left;
}

.inline img {
  width: 100px;
  border-radius: 100%;
}

.d-vya p {
  margin: 10px 0 40px 0;
}

.d-vya p:last-child {
  margin-bottom: 0;
}

.small-info {
  font-size: 14px;
}

.icon {
  max-width: 32px;
  max-height: 32px;
}

.custom-title {
  font-size: 20px;
  font-weight: 500;
  margin: 15px 0 0 0;
}

.subtitle {
  font-size: 16px;
}

.custom-header {
  font-size: 1.8rem;
  font-family: "Nunito";
  text-transform: uppercase;
}

.subheader {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 10px 0;
}

.uppercase {
  text-transform: uppercase;
}

.custom-logo {
  font-size: 1rem;
  font-family: "Nunito";
  font-weight: 400;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.custom-logo img {
  width: 40px;
  height: 40px;
  vertical-align: middle;
  margin-right: 10px;
}

.sidenav .custom-logo {
  font-size: 1rem;
}

.sidenav img {
  margin: 10px;
}


footer .footer-bg {
  margin-bottom: -5px;
  height: 50vh;
  object-fit: cover;
}

footer .footer-logo {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  place-self: center;
}


.contact-info span {
  font-size: 15px;
  display: flex;
  margin-bottom: 22px;
  overflow-x: auto;
}

.contact-info span:last-child {
  margin-bottom: 0;
}

.contact-info span .icon {
  margin-right: 15px;
}


.contact-info .name-email {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  place-content: space-between;
}

.contact-info .width-48 {
  width: 48%;
}

.contact-info .input-field {
  margin: 10px 0 0 0;
}

.contact-info .input-field textarea,
.contact-info .input-field input {
  color: white;
}

/* label inline color */
.contact-info .input-field label {
  color: white;
}

/* label out unfocused color */
.contact-info .input-field label.active {
  color: #afff9e;
}

.contact-info .input-field textarea:focus {
  border-bottom: 1px solid #afff9e;
  box-shadow: 0 1px 0 0 #afff9e;
}

/* label out focused color */
.contact-info .input-field+label {
  color: #afff9e;
}


/* underline focused color */
.contact-info .input-field input[type=text]:focus,
.contact-info .input-field input[type=email]:focus {
  border-bottom: 1px solid #afff9e;
  box-shadow: 0 1px 0 0 #afff9e;
}

/* label out focused color */
.contact-info .input-field textarea:focus+label,
.contact-info .input-field input[type=text]:focus+label,
.contact-info .input-field input[type=email]:focus+label {
  color: #afff9e;
}

/* To auto-scroll to the title when clicking to link #id */
/* #contact, */
#reviews,
#about,
#tours {
  top: -50px;
  position: relative;
}

.parallax {
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.stretch-y {
  display: flex;
  margin-bottom: 22px;
}

.stretch-y .col {
  flex-grow: 1;
}

.stretch-y .col .card {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
}

.stretch-y .col .card .card-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.stretch-y .col .card .card-action {
  margin-top: auto;
}

.mobile-scrollable-row .col {
  width: 300px;
  flex: 0 0 300px;
}

.mt-lg {
  margin-top: 30px;
}

img.cover {
  height: 70vh;
  object-fit: cover;
}

@media only screen and (min-width: 601px) {
  .container {
    width: 90%;
  }

  .box:last-child {
    margin-bottom: 0;
  }

  .custom-header {
    font-size: 2.5rem;
  }

  .mobile-scrollable-row .col {
    width: 400px;
    flex: unset;
  }

  img.diagram {
    width: 65%;
  }
}

@media only screen and (min-width: 993px) {

  .mt-lg {
    margin-top: 60px;
  }

  .container {
    width: 90%;
  }

  .modal {
    width: 70%;
  }

  img.cover {
    height: 100vh;
  }

  nav .nav-wrapper {
    justify-self: center;
    padding: 0 20px;
  }

  nav .nav-wrapper a.btn {
    margin: 0 0 0 10px;
  }

  .inline img {
    width: 200px;
  }

  .about.row .col {
    padding: 25px 25px;
  }

  .subheader {
    font-size: 26px;
  }

  .collapsible .collapsible-header .icon {
    right: 30px;
    width: 24px;
  }

  .contact-info span {
    font-size: 20px;
  }
}


@media only screen and (min-width: 1300px) {
  .btn {
    padding-left: 40px;
    padding-right: 40px;
  }

  .card .card-content .card-title {
    font-size: 18px;
  }

  nav .nav-wrapper {
    width: 82%;
    padding: 0;
  }

  nav ul a {
    padding: 0 10px;
  }

  .custom-logo {
    font-size: 1.4rem;
  }
}

/* mobile-scrollable-row */
@media only screen and (max-width: 992px) {
  .mobile-scrollable-row {
    overflow-x: auto;
    display: flex;
  }

  .mobile-scrollable-row .row {
    display: flex;
  }
}