body {
  background-color: #cae1b9;
}

.text-primary,
.custom-header,
.custom-title,
.subheader {
  color: #003d26;
}

.btn,
.bg-primary,
.box {
  background-color: #003d26;
}

.btn {
  font-weight: 500;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 5px;

  &:hover {
    background-color: #159709;
  }
}

.btn-white {
  background-color: white;
  color: black;

  &:hover {
    background-color: #159709;
  }
}

a.text-primary:hover {
  color: black;
}

.space-between {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

p {
  text-align: justify;
}

.card {
  border-radius: 11px;
  border: #00000044 solid 1px;

  .card-image img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
  }

  .card-action {
    background-color: transparent;
  }
}

.mt-lg {
  margin-top: 60px;
}

.collapsible {
  border-radius: 10px;

  .collapsible-header {
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    position: relative;

    .subheader {
      margin: 0;
    }

    .icon {
      position: absolute;
      right: 30px;
    }
  }

  .collapsible-body {
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
}

.card .card-content {

  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;

  p {
    margin: 12px 0;
  }

  .card-title {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 0;
  }

}

.price {
  font-size: 20px;
  font-weight: 500;
  align-content: center;
}


.box {
  color: white;
  padding: 20px;
  margin-bottom: 22px;
  border-radius: 10px;
}

.row {
  margin: 0;
}


img:not(.icon) {
  width: 100%;
  border-radius: 10px;
}

img.rectangular {
  border-radius: 0;
}

.about {
  text-align: justify;

  &.row .col {
    padding: 25px 25px;
  }

  p {
    margin: 0;
  }
}

.bunong p {
  margin: 10px 0 40px 0;

  &:last-child {
    margin-bottom: 0;
  }
}

.inline {
  margin: 0 20px 10px 0;
  float: left;

  img {
    width: 200px;
    border-radius: 100%;
  }
}


.modal {
  width: 90%;
  max-height: 90vh;
  margin-top: -5vh;
  border-radius: 10px;

  .modal-footer {
    padding: 10px 20px;
    height: auto;
  }
}

.small-info {
  font-size: 14px;
}

.icon {
  max-width: 32px;
  max-height: 32px;
}

.custom-title {
  font-size: 20px;
  font-weight: 500;
  margin: 15px 0 0 0;
}

.subtitle {
  font-size: 17px;
}

.custom-header {
  font-size: 1.8rem;
  font-family: fantasy;
  text-transform: uppercase;
}

.subheader {
  font-size: 28px;
  font-weight: 500;
  text-transform: uppercase;
}

/* .name {
  font-size: 2rem;
  font-weight: 500;
  margin: 0;
} */


.tour {
  padding: 20px;

  &:not(:first-child) {
    margin: 20px 0 0 0;
    padding-top: 20px;
    border-top: #0d6738 2px solid;
  }

  &:last-child {
    margin-bottom: 20px;
  }
}

.contact-info {

  span {
    font-size: 20px;
    display: flex;
    margin-bottom: 22px;

    &:last-child {
      margin-bottom: 0;
    }

    .icon {
      margin-right: 15px;
      width: 32px;
    }
  }

  .contact-form {
    text-align-last: end;
  }

  .test {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    place-content: space-between;
  }

  .width-48 {
    width: 48%;
  }

  .input-field {
    margin: 10px 0 0 0;

    /* label inline color, label out unfocused color */
    label,
    label.active {
      color: white;
    }

    textarea:focus {
      border-bottom: 1px solid white;
      box-shadow: 0 1px 0 0 white;

      /* label out focused color */
      +label {
        color: white;
      }
    }

    /* underline focused color */
    input[type=text]:focus,
    input[type=email]:focus {
      border-bottom: 1px solid white;
      box-shadow: 0 1px 0 0 white;

      /* label out focused color */
      +label {
        color: white;
      }
    }
  }
}


@media only screen and (min-width: 1300px) {
  .btn {
    padding-left: 40px;
    padding-right: 40px;
  }

  .card .card-content .card-title {
    font-size: 18px;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 90%;
  }

  .modal {
    width: 70%;
  }

  .custom-logo {
    font-size: 1.6rem;
  }

  nav .nav-wrapper {
    width: 90%;
    justify-self: center;
    align-content: center;
    height: 60px;
  }
}

@media only screen and (min-width: 601px) {
  .container {
    width: 90%;
  }

  .box:last-child {
    margin-bottom: 0;
  }

  .custom-header {
    font-size: 2.5rem;
  }
}

.parallax {
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}